<div class="text-center py-5" id="cart">
  <%= image_tag "box-icon.png", width: 100, height: 100, alt: "Empty Cart", class: "mb-4" %>
  <h2>The cart is empty</h2>
  <p>Add items from <a href="/products">the catalog</a></p>
</div>
